In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import random

In [4]:
class Team:
    def __init__(self, name, wins, losses, L5W, L5L):
        self.name = name
        self.wins = wins
        self.losses = losses
        self.L5W = L5W
        self.L5L = L5L
        
    def addWin(self):        
        self.wins += 1
        self.L5W  += 1
        self.L5L  -= 1
        
    def addLoss(self):        
        self.losses += 1
        self.L5W    -= 1
        self.L5L    += 1

In [5]:
#def play game
def PickWinner(A,B):
    
    #calc strengths / record coef 2 / L5 coef 1
    strA = 2*(A.wins-A.losses)+(A.L5W-A.L5L)
    strB = 2*(B.wins-B.losses)+(B.L5W-B.L5L)
    
    #normalize
    WA = strA*100/(strA+strB)
    WB = strB*100/(strA+strB)
    
    
    WR = random.randint(1,101)
    
    #pick winner
    if(WR<WA):
        A.addWin()
        B.addLoss()
        return A
    else:
        B.addWin()
        A.addLoss()
        return B

In [13]:
#teams championship count

d = {'G2':[0],'SPY':[0],'OG':[0],'FNC':[0],'VIT':[0],"SH4":[0]}
teams = pd.DataFrame(data=d)
teams = teams.rename(index = {0: "WINS"})
teams

      G2  SPY  OG  FNC  VIT  SH4
WINS   0    0   0    0    0    0

In [7]:

def Simulate():
    #teams
    G2  = Team("G2",14,4,2,3)
    SPY = Team("SPY",11,7,4,1)
    OG  = Team("OG",12,6,4,1)
    FNC = Team("FNC",11,7,5,0)
    VIT = Team("VIT",11,7,2,3)
    SH4 = Team("SH4",9,9,5,0)


    #R1G1 3v6 / R1G2 4v5
    R1G1 = PickWinner(FNC,SH4)
    R1G2 = PickWinner(VIT,SPY)

    #R2G1 R1G1vR1G2
    R2G1 = PickWinner(R1G1,R1G2)

    #R3G1 1v2
    R3G1 = PickWinner(G2,OG)
    #loser
    if(R3G1.name=="G2"):
        LR3G1 = OG
    else:
        LR3G1 = G2

    #R3G2 R2G1vLR3G1
    R3G2 = PickWinner(R2G1,LR3G1)

    #Final R3G1vR3G2
    Final = PickWinner(R3G1,R3G2)
    return Final.name

In [14]:
#simulate x playoffs
for x in range(0,10000):
    teams[Simulate()]+=1

teams

        G2   SPY    OG   FNC  VIT  SH4
WINS  3972  1080  2947  1309  419  273